* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$white: #ffffff;
$light-yellow: #f7f52d;
$dark-yellow: #fffb20;
$black: #000;
$light-grey: #f4f4f4;
$dark-grey: #d0d1cc;
$smoke-grey: rgb(65, 65, 65);

@mixin container($width: 90%, $max-width: 50em) {
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
}

body {
  display: grid;
  grid-template:
    "header header header header header header" 3em
    "img img img img img img" 90vh
    "main main main main main main" minmax(3em, auto)
    "contact contact contact contact contact contact" minmax(3em, auto)
    "footer footer footer footer footer footer" auto / 1fr 1fr 1fr 1fr 1fr 1fr;
  font-family: "Roboto", sans-serif;
  background: $light-grey;
}

button {
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  color: $smoke-grey;
  background-color: $light-yellow;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

button:hover {
  opacity: 0.8;
}

input {
  border: none;
  outline: none;
}

header {
  grid-area: header;
  background: transparent;
  color: $dark-grey;
  font-size: 0.9rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2em;

  h1 {
    color: rgba($light-yellow, 0.8);

    font-size: 1.5rem;

    span {
      color: $dark-grey;
      font-size: 1.5rem;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      margin: 0.5rem;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }

    li:hover {
      border-bottom: 1px solid $light-yellow;
    }
  }
}

.hero {
  grid-area: img;
  background: url(../public/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  h1 {
    color: rgba($light-yellow, 0.8);
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;

    span {
      display: block;
      color: rgba($white, 0.9);
      font-size: 0.7rem;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: rgba($light-yellow, 0.8);
    }

    &::before {
      margin: 0 auto 0.5em;
    }

    &::after {
      margin: 0.5em auto 0;
    }
  }
}

.main {
  grid-area: main;
  min-width: 0;

  .card__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin: 2em;
    gap: 2em;

    .card {
      background: #fff;
      border-bottom: none;

      img {
        max-width: 100%;
        min-width: 100%;
        height: 40vh;
        object-fit: cover;
      }

      .card__body {
        margin: 0.5em 0;
        padding: 0.3em;

        h3 {
          color: $smoke-grey;
          font-weight: bolder;
          text-align: center;
          text-transform: uppercase;
        }

        p {
          padding: 0.5em;
          font-size: 0.95rem;
          color: #7a7a7a;
          text-align: center;

          &:last-child {
            display: none;
          }
        }
      }
      button {
        width: 100%;
        padding: 1em;
        font-weight: 600;
      }
    }
  }

  .trainer {
    margin: 3em 0;
    padding: 0 2em;

    img {
      max-width: 100%;
      border: 12px solid #fff;
      object-fit: contain;
    }

    .trainer__info {
      margin-top: 1em;
      .trainer__profession {
        font-size: 0.8rem;
        text-transform: uppercase;
      }

      .trainer__name {
        font-size: 1.5rem;
        text-transform: uppercase;
      }

      .trainer__desc {
        margin: 1em 0;
        color: #7a7a7a;
        font-size: 0.8rem;
      }

      .exercises {
        display: flex;
        justify-content: space-between;

        h6 {
          display: flex;
          align-items: center;
          font-size: 0.9rem;

          span {
            margin-right: 5em;
            font-size: 0.05rem;
            border: 10px solid #f7f52d;
            border-radius: 50%;
          }
        }
      }
    }
  }

  // offers
  .offer {
    color: #fff;
    background-color: #000;
    margin: 3em 0;
    padding: 2em;
    text-align: center;

    h2 {
      font-size: 1rem;
    }

    p {
      padding: 1em;
      font-size: 0.7rem;
    }
    .input__container {
      display: flex;
      justify-content: center;

      input {
        border-top-left-radius: 0.2em;
        border-bottom-left-radius: 0.2em;
        color: #0a0a0a;
        padding: 0.8em 0.7em;
      }

      button {
        width: 6em;
        border-top-right-radius: 0.2em;
        border-bottom-right-radius: 0.2em;
        font-size: bolder;
      }
    }
  }
}

// contact

.contact {
  background: $white;
  grid-area: contact;
  margin-bottom: 3em;

  h1 {
    font-size: 2.5rem;
    margin: 1em auto 1em;
    text-align: center;
  }

  form {
    @include container($width: 85%);

    label {
      display: block;
      font-weight: 900;

      input,
      textarea {
        display: block;
        width: 100%;
        padding: 0.75em;
        margin: 0.3em 0 1em;
        font-size: 1rem;
        background-color: lighten($color: $light-grey, $amount: 2%);
        border: 1px solid $light-grey;
        outline: none;
        border-radius: 2px;
      }

      textarea {
        height: 7em;
        font-size: 1rem;
      }
    }

    .button {
      display: block;
      font-size: 0.9rem;
      padding: 1em 3em;
      margin: 2em 0 2em auto;
      color: $white;
      background-color: $black;
      cursor: pointer;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }
}

//footeer

footer {
  grid-area: footer;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 5em 0;

  .social-icons {
    display: flex;
    justify-content: center;

    .social-icon {
      margin: 3em 0.7em;
      max-width: 4em;
      width: 15%;
      cursor: pointer;
    }
  }

  .copyright {
    &::before {
      content: "";
      display: block;
      height: 1px;
      background: rgba($white, 0.15);
      margin: 2.5em auto;
      width: 25%;
    }
  }
}

@media screen and (min-width: 460px) {
  .trainer {
    padding: 0 7em !important;
  }
}

@media screen and (min-width: 600px) {
  .hero {
    height: 95vh;

    h1 {
      font-size: 3rem;

      span {
        display: block;
        font-size: 1rem;
      }
    }

    button {
      padding: 1em;
    }
  }

  .trainer {
    padding: 0 10em !important;
  }

  .contact {
    h1 {
      font-size: 3.5rem;
      margin: 0.7em auto;
    }

    form {
      display: grid;
      grid-template-areas:
        "name    email"
        "message message"
        "   .    button";
      gap: 0 1em;

      .name {
        grid-area: name;
      }

      .email {
        grid-area: email;
      }

      .message {
        grid-area: message;

        textarea {
          height: 10em;
        }
      }

      .button {
        font-size: 1.1em;
        grid-area: button;
      }
    }
  }
}

@media screen and (min-width: 685px) {
  .header {
    padding-top: 2em;
    flex-direction: row;
    font-size: 1rem;
    h1 {
      font-size: 2rem;
    }
  }
  .card__container {
    .card {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      img {
        height: 100% !important;
        display: block;
      }

      .card__body {
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($dark-yellow, 0.6);
        height: 100%;
        transition: top ease-in-out 250ms;

        h3 {
          margin-top: 1em;
        }

        p {
          color: $white !important;
          text-align: justify !important;
          text-justify: inter-word;

          &:last-child {
            display: block !important;
          }
        }
      }

      &:hover .card__body {
        top: 0;
      }

      button {
        display: none;
      }

      &:last-child {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 756px) {
  main {
    .trainer {
      display: grid;
      grid-template-columns: 1fr minmax(350px, 2fr) minmax(300px, 2fr) 1fr;
      gap: 2em;
      padding: 0em !important;
      img {
        grid-column: 2 / 3;
      }

      .trainer__info {
        margin-top: 0em !important;
        grid-column: 3 / 4;

        .trainer__profession {
          font-size: 0.9rem !important;
        }

        .trainer__name {
          font-size: 2rem !important;
        }

        .trainer__desc {
          font-size: 0.9rem !important;
        }

        .exercises {
          flex-direction: column;

          h6 {
            margin: 0.6em 0;
            font-size: 1rem;

            span {
              font-size: 0.1rem;
            }
          }
        }
      }
    }

    .offer {
      h2 {
        font-size: 1.5rem !important;
      }

      p {
        font-size: 0.8rem !important;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .card__container {
    .card:last-child {
      display: block;
    }
  }
}
